;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.2.0"]]

 :builds
 {:app
  {:target :browser
   :output-dir "www/js"
   :modules {:main {:entries [spellbook.core]}}}}}
