;; shadow-cljs configuration
{:dev-http
 {3000 "www"}

 :source-paths
 ["src"
  "test"]

 :builds
 {:app
  {:target :browser
   :output-dir "www/js"
   :modules {:main {:entries [spellbook.app]}}}
  :test
  {:target :node-test
   :output-to "out/test.js"
   :autorun true}}}
